body {
  overflow-x: hidden;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}
.flex-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.weather-main {
  flex: 1;
  padding-top: 2rem;
  width: 100%;
}
.summary {
  font-size: 1.7em;
  font-weight: bolder;
}
.city {
  font-size: 1.4em;
}
.temperature {
  font-size: 5em;
  font-weight: bold;
}
.weather-secondary {
  flex: 1;
  width: 100vw;
  color: #000000;
  background-color: white;
}
.secondary-info-item {
  /*display: inline;*/
}

.table td.secondary-info-row {
  vertical-align: middle;
}
td.table-time {
  width: 45%;
}
td.table-icon, td.table-temp {
  width: 27.5%;
}
